# Pandas Tutorial

Pandas is Open Source,BSD-Licenced Library, Provides High Performance, Easy to Use data structures and data analysis tools for Python

In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index =["R1","R2","R3","R4","R5"],columns = ["C1","C2","C3","C4"])

In [9]:
df.head()

    C1  C2  C3  C4
R1   0   1   2   3
R2   4   5   6   7
R3   8   9  10  11
R4  12  13  14  15
R5  16  17  18  19

In [10]:
df.to_csv("Test.csv")

In [33]:
#type Data Series
df["C1"]

R1     0
R2     4
R3     8
R4    12
R5    16
Name: C1, dtype: int32

In [34]:
#Type Data Series
df[["C1", "C2"]]

    C1  C2
R1   0   1
R2   4   5
R3   8   9
R4  12  13
R5  16  17

In [17]:
#Accessing the elements
#1 .loc, 2 .iloc
df.loc["R1"]

C1    0
C2    1
C3    2
C4    3
Name: R1, dtype: int32

In [16]:
type(df.loc['R1'])

pandas.core.series.Series

In [19]:
#pandas.core.frame.DataFrame
df.iloc[:3, :4]

    C1  C2  C3  C4
R1   0   1   2   3
R2   4   5   6   7
R3   8   9  10  11

In [20]:
type(df.iloc[:3, :4])

pandas.core.frame.DataFrame

In [22]:
#pandas.core.frame.DataFrame
df.iloc[0:3,0:1]

    C1
R1   0
R2   4
R3   8

In [23]:
type(df.iloc[0:3,0:1])

pandas.core.frame.DataFrame

In [24]:
#pandas.core.series.Series
df.iloc[:3,0]

R1    0
R2    4
R3    8
Name: C1, dtype: int32

In [25]:
type(df.iloc[:3,0])

pandas.core.series.Series

In [26]:
#Converting Data frames into arrays
df.iloc[:3, :4].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [27]:
#Operations when working with Dataframes
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
dtype: int64

In [29]:
#unique Value Counts
df["C1"].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: C1, dtype: int64

In [31]:
#Unique Function
df["C1"].unique()

array([ 0,  4,  8, 12, 16])

In [4]:
df1 = pd.read_csv('Test.csv',sep = ";")

In [5]:
df1.head()

  Unnamed: 0  C1  C2  C3  C4
0         R1   0   1   2   3
1         R2   4   5   6   7
2         R3   8   9  10  11
3         R4  12  13  14  15
4         R5  16  17  18  19

In [7]:
df = pd.read_csv('mercedesbenz.csv')

In [8]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [10]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
i      18
am     18
u      17
l      16
aw     16
ad     14
b      11
k      11
au     11
as     10
r      10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
ab      1
g       1
Name: X0, dtype: int64

In [13]:
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

# CSV

In [14]:
from io import StringIO, BytesIO

In [15]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')

In [16]:
type(data)

str

In [17]:
StringIO()

In [20]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [26]:
df = pd.read_csv(StringIO(data),usecols = ['col1','col2'])

In [28]:
df.head()

  col1 col2
0    x    y
1    a    b
2    c    d

In [29]:
df.to_csv('t1.csv')

In [31]:
#Specifying columns data types
data =('a,b,c,d\n'
        '1,1,2,3\n'
        '2,4,5,6\n'
        '3,7,8,9\n')
print(data)

a,b,c,d
1,1,2,3
2,4,5,6
3,7,8,9

In [32]:
df = pd.read_csv(StringIO(data),dtype=object)

In [33]:
df

   a  b  c  d
0  1  1  2  3
1  2  4  5  6
2  3  7  8  9

In [35]:
df['a']

0    1
1    2
2    3
Name: a, dtype: object

In [40]:
df['a'][2]

'3'

In [42]:
df = pd.read_csv(StringIO(data),dtype={'c':int, 'b':float, 'a':'int64'})

In [43]:
df

   a    b  c  d
0  1  1.0  2  3
1  2  4.0  5  6
2  3  7.0  8  9

In [47]:
df.dtypes

a      int64
b    float64
c      int32
d      int64
dtype: object

In [50]:
type(df['b'][2])

numpy.float64

In [51]:
#index coloumns
data = ('index,a,b,c\n'
        '4,apple,ball,5\n'
        '8,banana,bat,10')

In [54]:
pd.read_csv(StringIO(data))

   index       a     b   c
0      4   apple  ball   5
1      8  banana   bat  10

In [58]:
#you can change index col by indexing 1 or 2 
pd.read_csv(StringIO(data),index_col=0)

        b   c
a
4   apple NaN
8  banana NaN

In [67]:
data = ('a,b,c\n'
          '4,apple,bat,\n'
          '8,banana,cow,')

In [68]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  banana  cow NaN

In [69]:
pd.read_csv(StringIO(data), index_col=False)

   a       b    c
0  4   apple  bat
1  8  banana  cow

In [70]:
#use_cols and index_cols
data = ('a,b,c\n'
          '4,apple,bat,\n'
          '8,banana,cow,')

In [73]:
pd.read_csv(StringIO(data), usecols=['a','b'],index_col=False)

   a       b
0  4   apple
1  8  banana

In [76]:
#quoting and Escape characters.useful in NLP
data = 'a,b\n"hello,\\"bob\\",nice to meet you",5'

In [77]:
pd.read_csv(StringIO(data),escapechar='\\')

                              a  b
0  hello,"bob",nice to meet you  5

In [80]:
#URL to CSV
df = pd.read_csv('https://dowload.bls.gov/pub/time.series/cu/cu.item',sep ='\t')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>