# Count or Freaquency Encoding

In [27]:
import numpy as np
import pandas as pd
df = pd.read_csv("mercedesbenz.csv",usecols=["X1","X2"])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [28]:
df.shape

(4209, 2)

In [29]:
pd.get_dummies(df).shape

(4209, 71)

In [30]:
len(df['X1'].unique())

27

In [31]:
len(df['X2'].unique())

44

In [32]:
df["X1"].value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
ab      3
d       3
q       3
Name: X1, dtype: int64

In [36]:
m = df.X1.value_counts().to_dict()

In [37]:
df.X1 = df.X1.map(m)

In [38]:
df.head()

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n